<% include ./partials/header %>

<h1>LogIn page</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <button>Log In</button>
</form>

<% include ./partials/footer %>