<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="Stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
    </head>
    <body>